@import '~styles/base';

.main {
  min-height: 100vh;
  padding: 2rem 0 4rem;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid var(--color-grey-200);
  justify-content: center;
  align-items: center;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
